@model ASPAssignment2.Models.Genre

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Genre</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>

<!--<h5>Games</h5>
<table class="table sortable">
    <tr>
        <th>Name</th>
        <th>Price</th>
    </tr>
    @foreach (var p in Model.VideoGames)
    {
        <tr>
            <td>@p.Name</td>
            <td>@p.Price</td>
        </tr>

    }
    */
</table>-->

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GenreId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
