@model IEnumerable<ASPAssignment2.Models.VideoGame>

@{
    ViewBag.Title = "VideoGames";
}

<h2>Video Games</h2>
@if (Request.IsAuthenticated) {
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<table class="table sortable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Genre.Name)
        </th>
        <th>
            Video Game Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Developer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Publisher)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        @if (Request.IsAuthenticated)
        {
            <th>Actions</th>
        }

    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Genre.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Developer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Publisher)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.VideoGameId })
            @if (Request.IsAuthenticated)
            {
                <text>|</text>
                @Html.ActionLink("Edit", "Edit", new { id = item.VideoGameId })
                <text>|</text>
                @Html.ActionLink("Delete", "Delete", new { id = item.VideoGameId })
            }
        </td>
        
    </tr>
}

</table>
